[submodule "ext/pcg32"]
	path = ext/pcg32
	url = https://github.com/wjakob/pcg32
	branch = master
[submodule "ext/tbb"]
	path = ext/tbb
	url = https://github.com/wjakob/tbb
	branch = master
[submodule "ext/nanogui"]
	path = ext/nanogui
	url = https://github.com/gaoxifeng/nanogui/tree/1c7ee2325ee585f1540ecd7d6ab65fe311870a7b
	branch = master
